
:root { 
    
    --Pink: hsl(322, 100%, 66%);

    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);

    --shadow-color: rgba(106, 105, 105, 0.46);
    --background-img: #abe7f417;
}
body { 
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
} 
li { 
    list-style: none;
}
img { 
    max-width: 100%;
    height: auto;
    display: block;
}
.container { 
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) { 
    .container { 
        width: 750px;
    }
}
@media (min-width: 998px) { 
    .container { 
        width: 970px;
    }
}
@media (min-width: 1200px) { 
    .container { 
        width: 1170px;
    }
}
header {
    padding-top: 30px;
    padding-bottom: 30px;
}
header .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header img { 
    width: 200px;
}
header button {
    cursor: pointer;
    background-color: white;
    color: var(--Very-Dark-Cyan);
    padding: 12px 60px;
    font-size: 18px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    box-shadow: -1px 8px 27px 0px var(--shadow-color);
}
header button:hover { 
    color: var(--Grayish-Blue);
}
@media (max-width: 767px) { 
    header img { 
        width: 100px;
    }
}
@media (max-width: 767px) { 
    header button {
        padding: 6px 20px;
        font-size: 11px;
    }
}
main { 
    background-image: url(../imgs/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--background-img);
    padding-bottom: 40px;
}
@media (max-width: 767px) {
    main { 
        background-image: url(../imgs/bg-hero-mobile.svg);
    }
}
main section { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) { 
    main section { 
        flex-direction: column;
        text-align: center;
    }
}
main section .holder { 
    margin-top: -100px;
}
@media (max-width: 767px) {
    main section .holder { 
        padding: 30px 0px;
        margin-top: 0px;
    }
}

h1 { 
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
}
@media (max-width: 767px){
    h1 { 
        font-size: 30px;
    }
}
p { 
    max-width: 455px;
    line-height: 1.6;
}
@media (max-width: 767px) { 
    p { 
        width: 305px;
    }
}
main section .holder p { 
    margin-bottom: 30px;
}

button.hover { 
    background-color: var(--Pink);
    border: none;
    padding: 15px 60px;
    border-radius: 30px;
    color: var(--Very-Pale-Cyan);
    font-size: 14px;
    cursor: pointer;
}
button.hover:hover { 
    background-color: hsla(322, 100%, 66%, 0.6);
}
main section img { 
    width: 650px;
    margin-top: 20px;
}
@media (max-width: 767px) { 
    main section img { 
        width: 325px;
        margin: 20px auto 0;
    }
}

section.land {
    margin-top: 100px;
    margin-bottom: -60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -10px var(--shadow-color);
}
@media (max-width: 767px) { 
    section.land { 
        flex-direction: column-reverse;
        text-align: center;
    }
}
@media (max-width: 767px) { 
    section.land.ex { 
        flex-direction: column;
    }
}
section.land .info { 
    padding: 40px 40px 40px 80px;
}
section.land .info h2 {
    margin-bottom: -5px;
    color: var(--Very-Dark-Cyan);
}
@media (max-width: 767px) { 
    section.land .info h2 { 
        margin-bottom: 18px;
    }
}
section.land .info p {
    color: var(--Grayish-Blue);
    font-weight: 400;
}
section.land img { 
    width: 400px;
    padding: 40px 0px;
}
@media (max-width: 767px) { 
    section.land img  { 
        padding: 40px 40px;
    }
}